$grey:#30475e;//dddddd
$dark: #222831;//222831
$white: #dddddd;//30475e
$red:#f05454;//f05454


.alert{
    position: fixed;
}

.contenedorAll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: fit-content;
    background-color: $white;

}
.contenedorDetail {
    position: relative;
    height: fit-content;
    width: 70%;
    border:solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    padding: 5rem 1rem;
    background-color: $grey;
    color: whitesmoke;
    font-family:'Montserrat', sans-serif;
    margin-top: 2rem;
    div {
        // width: 40rem;
        font-weight: 700; 
       
        h1 {
            margin-top: 0;
        }       
   } 	
   img {
       width: 20rem;
       margin-right: 2rem;
    }
  

}
.formm{
   
        width: 90%;
   
        p{
            max-width: 100%;
        }
    
} 
.containerBot{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    border: solid 1px black;
    margin: 2rem 0rem 0rem 0rem;
    padding: 2rem 1rem;
    border-radius: 0.3rem;
    background-color: $grey;

    div{
        div{
            div{
                textarea{
                    resize: none;
                    height: 0px;
                    
                }
            }
        }
    }
}

.botonPrecio{
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    background-color:$red ;
    border-radius: 0.1rem;
    hr{
        margin: 0;
    }
    p{
        margin: 0rem 0.2rem;
        padding: 0.8rem;
        color: whitesmoke;
    }
    
    button{
        padding: 1rem;
        background-color: transparent;
        border: none;
        color: whitesmoke;
        outline: none;
        svg{
            font-size: 1.2rem;
        }
        &:hover{
            cursor: pointer;
            background-color: $dark;
            color: $red;
            padding: 1.5rem;
            transition: 1s;
        }
    }
}

.buttonCompra{
    
        padding: 1rem;
        background-color: transparent;
        border: none;
        color: whitesmoke;
        outline: none;
        svg{
            font-size: 1.2rem;
        }
        &:hover{
            cursor: pointer;
            background-color: $dark;
            color: $red;
            padding: 1.5rem;
            transition: 1s;
        }
    }


.Edit{
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: $red;
    border: none;
    padding: 1rem;
    border-radius: 0.2rem;
    color: $white;
    outline: none;
    &:hover{
        cursor: pointer;
        background-color: $dark;
        color: $red;
        
    }
}

.estrellas{
    display: flex;
    flex-direction: row;
    div{
        width: fit-content;
        display: flex;
        height: fit-content;
        
    }
}
// .textarea {
//     margin-top: 2rem;
//     width: 400px;
//     height: 100px;
//     border: 1px solid white; 
//     resize: none;
// }
    
// .precioDetail {
//     font-family: 'Montserrat', sans-serif;
//     width: fit-content;
//     background-color:#F21B42 ;
//     padding:1rem;
//     border-radius: 5px;
// }

// .category{
//     color: brown;
//     padding: 1rem;
// }

// .buttonCompra {
//     width: 12rem;
//     height: 3rem;
//     margin-top: 4rem;
//     color:#161616;
//     border-radius: 5px;
//     background-color:#F21B42 ;
//     font-weight: 800;
//     border-color: transparent;
// }

// .buttonCompra:hover {
//     color: white;
//     background:#F21B42 ;
//     box-shadow: 0 0 5px #F21B42;
// }

.sortthanks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Hrating {
    font-family: 'Montserrat', sans-serif ;
    font-size: 1.5rem;
    max-width: 75vw;
    color: $white;
    .hspan {
    font-family: 'Montserrat', sans-serif ;
    background-image: linear-gradient(
    transparent calc(65% - 5px),
    darken($red, 15%) 5px,
    );
    background-size: 0;
    background-repeat: no-repeat;
    display: inline;
    transition: 0.5s ease;
    }
    &:hover {
      .hspan {
        background-size: 100%;
      }
    }
  }

.gracias {
    font-family: 'Montserrat', sans-serif ;
    font-size: 1.2rem;
    color: whitesmoke;
}
.reviews{
    margin-bottom: 5%;
    background-color: $grey;
    width: 70%;
    color: $dark;
    border-radius: 0.3rem;
    margin-top: 1rem;
    padding: 1rem;
    div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: auto;
        padding: 0.5rem;
        margin: 0.5rem;
        background-color: $white;
        border-radius: 0.2rem;
    }
}

.PDetails{
    font-family: 'Montserrat', sans-serif ;
    font-size: 1.3rem;
    color: whitesmoke;
}