$grey:#30475e;//dddddd
$dark: #222831;//222831
$white: #dddddd;//30475e
$red:#f05454;//f05454



.containerEdit{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 30rem;
    min-width: 1rem;
    font-family:'Montserrat', sans-serif;
    
    p{
        display: flex;
        justify-content: start;
        align-items: flex-start;
        margin: 0.2rem;
    }

    textarea{
        resize: none;
        width: 100%;
        height: 5rem;
        color: whitesmoke;
        background-color: transparent;
        border: none;
        outline: none;
        font-family:'Montserrat', sans-serif;

    }
    select{
        width: 10rem;
        font-family:'Montserrat', sans-serif;
    }
}

.bot{
    display: flex;
    justify-content: space-between;
}

.cats{
    display:flex;
    flex-wrap: wrap;

}

.category{
    border: none;
    background-color:transparent;
    color: whitesmoke;
    padding: 0.3rem;
    width: 10rem;
    font-family:'Montserrat', sans-serif;
    font-size: 1rem;
    outline: none;
    
    &:hover{
        color: $red;
        cursor: pointer;
    }
}

.input{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: solid 1px $white;
    color: whitesmoke;
    max-width: 20rem;
    font-family:'Montserrat', sans-serif;
}

.acept{
    border: none;
    color: $white;
    background-color:$red ;
    padding: 1rem;
    width: 10rem;
    &:hover{
        cursor: pointer;
        color: $dark;
    }
}