$white:#dddddd;

.catalog{
    display: flex;
    flex-direction: row;
    background-color: #222831;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    position: sticky;
    top: 0; 
}