$white:#dddddd;

.catalog{
    display: flex;
    flex-direction: row;
<<<<<<< HEAD
    background-color: $white;
=======
    background-color: #222831;
>>>>>>> front_roto
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    position: sticky;
    top: 0; 
}