.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    padding: 2rem;
    height: fit-content;
    width: fit-content;
    border: solid 1px gray;
    border-radius: 0.5rem;
    input{
        margin-top: 1rem;
    }
    label{
        margin-top: 1rem;
    }
}