.container{
    height: 100vh;
    font-family:'Montserrat', sans-serif;
    padding: 2rem;
    background-color: #222831;
    color: whitesmoke;
}
h4{
    display: flex;
    align-items: center;
    height: 1rem;
    svg{
        margin-left: 0.5rem;
    }
}
// button{
//     background-color: transparent;
//     border: none;
//     padding: 1.5rem;
//     font-size: 1.5rem;
//     color: #222831;
//     &:hover{
//         cursor: pointer;
//         padding: 2.5rem;
//         transition: 1s;
//     }
// }
.products{
    margin-top: 2rem;
    border: 1px solid gray;
    border-radius: 0.2rem;
    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid gray;
        background-color: #30475e;
        div{
            width: 25%;
            // border: 1px solid gray;
            padding: 1rem;
        }
    }
}