<<<<<<< HEAD
=======
$white: #fff;
$gray: #9b9b9b;
$verdesito: 	#E0FFFF;
$blanquito: #F0F0F0;
>>>>>>> front_roto
$grey:#30475e;//dddddd
$dark: #222831;//222831
$white: #dddddd;//30475e
$red:#f05454;//f05454

.container{
    display: flex;
<<<<<<< HEAD
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    align-items: flex-start;

}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Montserrat', sans-serif;
    padding: 2rem;
    height: fit-content;
    width: fit-content;
    border: solid 1px gray;
    background-color:$grey;
    border-radius: 0.5rem;

    h1{
        color: whitesmoke;
        margin-bottom: 1rem;
    }
    hr{
        margin:0;
        color:#f05454;//f05454;
        border:solid 3px #f05454;//f05454;
        width: 6rem;
        border-radius: 1rem;
    }
    input{
        margin-top: 1rem;
        outline: none;
    }
    label{
        margin-top: 1rem;
        color:$white;
    }
}

.button{
    background-color: $red;
    border: none;
    padding: 1rem;
    border-radius: 2rem;
    color: $white;
    font-size: 0.7rem;
    &:hover{
        cursor: pointer;
        border-radius: 1rem;
    }
}

.separateList {
    padding-right: 1rem;

}

.listProducts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1.4rem;
    height: fit-content;
    width: fit-content;
    border: solid 1px gray;
    background-color:$grey;
    border-radius: 0.5rem;
}
.TitleList {
    font-size: 1.3rem;
=======
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    background-color: $dark;
    width: 200vh;
    height: 170vh;
}

.OrderCreate {
    display: flex;
    flex-direction: row;
}

.TitleCreate {
    margin-top: 0rem;
    background: 50% 100% / 50% 50% no-repeat
    radial-gradient(ellipse at bottom,$white, $white, $white);
    -webkit-background-clip: text;
    background-clip: text;
    color: 		#FFE4E1;
    font-size: 3.5rem;
    font-family: 'Montserrat', sans-serif;
    animation: reveal 3000ms ease-in-out forwards 200ms,
             glow 2500ms linear infinite 2000ms;
    @keyframes reveal {
        80%{
        letter-spacing: 1px;
        }
        100% {
        background-size: 300% 300%;
        }
        }
    @keyframes glow {
        40% {
        text-shadow: 0 0 8px$white;
            }
        }
    }

.OrderForm {
    border: solid $white 0.3rem;
    border-radius: 1rem;
    background-color: $grey;
    margin-right: 1rem;
    padding-top: 2rem;
    height: fit-content;
}

.form__group {
    position: relative;
    margin-top: 15px;
    width: 20rem;
    padding-right: 8rem;
  }
  .form__field {
    margin-left: 4rem;
    margin-top: 0.3rem;
    font-family:'Montserrat', sans-serif;
    width: 16rem;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    font-size: 1.1rem;
    color:$white;
    padding: 1rem 0.3rem 0 ;
    background: transparent;
    transition: border-color 0.2s;   
  &::-moz-placeholder ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
    &::placeholder {
      color: transparent;
    }
  }
  .form__label {
      margin-left: 4rem;
      font-family:'Montserrat', sans-serif;
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: $gray;
  }
  .form__field:focus {
    ~ .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: $white;
      font-weight:700;    
    }
    padding-bottom: 6px;  
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, $red, #ffb200	);
    border-image-slice: 1;
  }

.button {
    cursor: pointer;
    font-weight: bold;
    border: transparent;
    display: flex;
    width: 5rem;
    height: 3rem;
    padding: 1.25rem;
    align-content: center;
    justify-content: center;
      border-radius: 0.5rem;
      color:$dark;;
      font-size: 0.8rem;
      margin-top: 1rem;
      margin-left: 2rem;
      transition: all .3s;
      position: relative;
      overflow: hidden;
      z-index: 1;
      &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $red;
          border-radius: 0.5rem;
          z-index: -2;
      }
      &:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0%;
          height: 100%;
          background-color: darken($red, 15%);
          transition: all .3s;
          border-radius: 0.5rem;
          z-index: -1;
      }
      &:hover {
          color: #fff;
          &:before {
              width: 100%;
          }
      }
  }

.details {
	position: relative;
	width: 300px;
	margin-right: 1rem;
}

.details[open] {
	z-index: 1;
}

.OrderSelect {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 4rem;
    padding-bottom:2rem;
    padding-left: 1rem;
}

.SelectCreate{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 10rem;
    height: 3rem;
    align-self: flex-start;
    background-color: $white;
    color: $dark;
    cursor: pointer;
    border:transparent;
    border-radius: .5rem;
    font-family:'Montserrat', sans-serif;
    font-weight: bold; 
    box-shadow: 10px 10px 15px 15px rgba(0,0,0,0.22);

  }
.SelectCreate:focus{
    transition:linear;
    width: 10.3rem;
    height: 3.3rem;

}

.OrderCreateCat{
    display: flex;
    flex-direction: column;

}

.OrderButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    padding-right: 5rem;
}

.CatButtons {
    margin-right: 1rem;
    margin-top: 0.4rem;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 9rem;
    height: fit-content;
    align-self: flex-start;
    background-color: $white;
    color: $dark;
    cursor: pointer;
    border:transparent;
    border-radius: .5rem;
    font-family:'Montserrat', sans-serif;
    font-weight: bold; 
    box-shadow: 10px 10px 15px 15px rgba(0,0,0,0.22);
    margin-left: 2rem;
    transition: all .3s;
    position: relative;

    overflow: hidden;
    z-index: 1;
    &:after {
        content: '';
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $red;
        border-radius: 0.5rem;
        z-index: -2;
    }
    &:before {
        content: '';
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken($red, 15%);
        transition: all .3s;
        border-radius: 0.5rem;
        z-index: -1;
    }
    &:hover {
        color:$red;
        &:before {
            width: 100%;
        }
    }
} 

.listProducts {
    border: solid $white 0.3rem;
    border-radius: 1rem;
    background-color: $grey;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
}

.TitleList {
    font-weight: bold;
    font-size: 1.4rem;
>>>>>>> front_roto
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    margin-bottom: 0.2rem;
}

.hrList {
    margin:1rem 0rem;
    color:#f05454;//f05454;
    border:solid 3px #f05454;//f05454;
    width: 4rem;
    border-radius: 1rem;
}

.pList {
<<<<<<< HEAD
    margin: 0.3rem;
    justify-content:space-around;
    font-size: 0.7rem;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
}
=======
    margin-top: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: fit-content;
    height: 1.5rem;
    align-self: flex-start;
    background-color: $white;
    color: $dark;
    cursor: pointer;
    border:transparent;
    border-radius: .5rem;
    font-family:'Montserrat', sans-serif;
    font-weight: bold; 
    box-shadow: 10px 10px 15px 15px rgba(0,0,0,0.22);
    overflow: hidden;
    z-index: 1;
    &:after {
        content: '';
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $red;
        border-radius: 0.5rem;
        z-index: -2;
    }
    &:before {
        content: '';
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken($white, 15%);
        transition: all .3s;
        border-radius: 0.5rem;
        z-index: -1;
    }
    &:hover {
        color:$red;
        &:before {
            width: 100%;
        }
    }
} 
>>>>>>> front_roto
