$grey:#30475e;//dddddd
$dark: #222831;//222831
$white: #dddddd;//30475e
$red:#f05454;//f05454
$primary: #11998e;
$secondary: #38ef7d;



/* .PopBox {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 10vh;
    top: 0;
    left: 0;
}

.Pop {
    position: relative;
    width: 30%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
} */
::-webkit-scrollbar {
	width: 0.9rem;               /* width of the entire scrollbar */
  }
  
::-webkit-scrollbar-track {
	background: $grey;        /* color of the tracking area */
	border-radius: 0.2rem;
  }
  
::-webkit-scrollbar-thumb {
	background-color: $dark;    /* color of the scroll thumb */
	border-radius: 0.5rem;       /* roundness of the scroll thumb */
	border: 3px solid $red;  /* creates padding around scroll thumb */
  }

.OrderPop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.PopTitle {
    margin: 5%;
    padding: 0;    
    background: 50% 100% / 50% 50% no-repeat
    radial-gradient(ellipse at bottom, white, white, white);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 4vh;
    font-family: 'Montserrat', sans-serif;
    animation: reveal 300ms ease-in-out forwards 20ms,
    glow 250ms linear infinite 200ms;

@keyframes reveal {
    80%{
    letter-spacing: 8px;
    }
    100% {
    background-size: 300% 300%;
    }
    }
@keyframes glow {
    40% {
    text-shadow: 0 0 8px 	#FFE4E1;
    }
    }
}


.PPop {
    margin: 5%;
    padding: 0;    
    background: 50% 100% / 50% 50% no-repeat
    radial-gradient(ellipse at bottom, white, white, white);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 2vh;
    font-family: 'Montserrat', sans-serif;
    animation: reveal 300ms ease-in-out forwards 20ms,
    glow 250ms linear infinite 200ms;

@keyframes reveal {
    80%{
    letter-spacing: 8px;
    }
    100% {
    background-size: 300% 300%;
    }
    }
@keyframes glow {
    40% {
    text-shadow: 0 0 8px 	#FFE4E1;
    }
    }
}

.box .content {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color:$grey;
}

.box {
	width: 60%;
	height: 70%;
	box-sizing: border-box;
	padding: 2%;
	position: relative;
	overflow: hidden;
}

.box::before {
	content: '';
	position: absolute;
	width: 350%;
	height: 650%;
	background: repeating-linear-gradient(
			$white 0%,
			$white 7.5px,
			$red 7.5px,
			$red 15px,
		    $white 15px,
			$white 22.5px,
			$red 22.5px,
			$red 30px);
	transform: translateX(-20%) translateY(-20%) rotate(-45deg);
	animation: animate 20s linear infinite;
}

.box .content {
	position: relative;
	background-color:$grey;
	flex-direction: column;
	box-sizing: border-box;
	padding: 2%;
	text-align: center;
	font-family: sans-serif;
	z-index: 2;
}

.box,
.box .content {
	box-shadow: 0 0 2px deeppink,
				0 0 5px rgba(0, 0, 0, 1),
				inset 0 0 5px rgba(0, 0, 0, 1);
	border-radius: 10px;
}

.box .content h2 {
	color: deeppink;
}

.box .content p {
	color: dimgray;
}

@keyframes animate {
	from {
		background-position: 0;
	}

	to {
		background-position: 0 450px;
	}
}


.box2 .content2 {
	height: 100%;
	display: flex;
    margin: 0%;
    padding: 0%;
    flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color:$grey;
}

.box2 {
	width: 90%;
	height: fit-content;
	box-sizing: border-box;
    margin: 3%;
	padding: 2%;
	position: relative;
	overflow: hidden;
}

.box2::before {
	content: '';
	position: absolute;
	width: 250%;
	height: 750%;
	background: repeating-linear-gradient(
			$primary 0%,
			$primary 7.5px,
			$secondary 7.5px,
			$secondary 15px,
		    $primary 15px,
			$primary 22.5px,
			$secondary 22.5px,
			$secondary 30px);
	transform: translateX(-20%) translateY(-20%) rotate(-45deg);
	animation: animate 20s linear infinite;
}

.box2 .content2 {
    margin: 0;
    padding: 0;
	position: relative;
	background-color:$white;
	flex-direction: row;
	box-sizing: border-box;
	text-align: center;
	font-family: sans-serif;
	z-index: 2;
}

.box2,
.box2 .content2 {
	box-shadow: 0 0 2px deeppink,
				0 0 5px rgba(0, 0, 0, 1),
				inset 0 0 5px rgba(0, 0, 0, 1);
	border-radius: 10px;
}

.box2 .content2 h2 {
	color: deeppink;
}

.box2 .content2 p {
	color: dimgray;
}

@keyframes animate {
	from {
		background-position: 0;
	}

	to {
		background-position: 0 450px;
	}
}

.South1 {
    margin: 0;
    padding: 0;
    width: 60%;
	max-width: 60%;
	min-width: 20%;
	
}

.South2 {
    margin: 0;
    padding: 0;
    width: 60%;
	max-width: 60%;
	min-width: 20%;
}

.ImagePop {
    margin: 0;
    padding: 0;    
    width: 80%;
	max-width: 80%;
	min-width: 60%;
}