$grey:#30475e;//dddddd
$dark: #222831;//222831
$white: #dddddd;//30475e
$red:#f05454;//f05454
$background: #fefefe;
$text: #4b507a;
$cyan: #60daaa;
$yellow: #fbca67;
$orange: #ff8a30;
$red: #f45e61;
$purple: #6477b9;
$blue: #0eb7da;
$dash-size: 8px;
$theme-color: mediumseagreen;
$fill-color: beige;
$gray:#30475e;//dddddd
$primary: #11998e;
$secondary: #38ef7d;

.card {
  background-color: $white;
  box-sizing: border-box;
  width: 120%;
  margin: 5%;
  margin-left: 15%;
  font-size: 3vh;
  .inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: .2rem;
    padding: 1rem;
    background-color: $white;
    input {
      background-color: $white;
      outline: none;
      border: solid .2rem $dark;
      padding: 0 0;
      font-size: 1em;
    }
    // :global(.card-number) {
    // width: 19em;
    // }
    :global(.expiry-date) {
      width: 7em;
    }
    :global(.cvc) {
      width: 3em;
    }
  }
}

.card {
  background-color: $white;
  box-sizing: border-box;
  width: 100%;
  margin: 5%;
  margin-left: 35%;
  font-size: 3vh;
  border: solid .2rem $grey;
  .inner2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: .2rem;
    padding: 1rem;
    background-color: $white;
    input {
      margin-top: 2%;
      background-color: $white;
      outline: none;
      border: solid .2rem $dark;
      padding: 0 0;
      font-size: 1em;
    }
    // :global(.card-number) {
    // width: 19em;
    // }
    :global(.expiry-date) {
      width: 7em;
    }
    :global(.cvc) {
      width: 3em;
    }
  }
}