.bodyOrders{
    // background-color: aqua;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedorCard{
    // background-color: bisque;
    width: 15rem;
    height: 15rem;
    box-shadow: 0 0 3px 3px rgba(0,0,0,0.5);
    padding: 10px;

}

.contenedorHeaderCard{
height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
    h4{
        width: 8rem;
        margin-right: 10px;
    }
   
}

.numberOrder,
.date{
    display: flex;
    height:40px ;
    display: flex;
    align-items: center;
}

.containerLink{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.link{
    text-decoration: none;
    width: 80px;
    height: 30px;
    padding: 8px 15px;
    box-sizing: border-box;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.5);
    border-radius: 5px;
&:hover{
    background-color: rgba(0,0,0,0.1);
}
}