.container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 10rem;
    // height: fit-content;
    border: solid 1px #F21B42;
    margin-top: 2rem;
    background-color:#F21B42 ;
}