$grey:#30475e;//dddddd
$dark: #222831;//222831
$white: #dddddd;//30475e
$red:#f05454;//f05454


.container{
    height: fit-content;
    justify-content: start;
    width: 15rem;
    margin-top: 2rem;
    margin-left: 2rem;
    background-color:$red ;
}
.todos {
    background-color: $grey;
    text-align: start;
    color: $white;
    border: transparent;
    width: 12rem;
    padding: 1rem;
    outline: none;
    &:hover{
        cursor: pointer;
    }
}