.containerCategories {
    width: 100%;
    div {
        .botonSec {
            background-color:#F21B42;
        }
        button {
            background-color: black;
            text-align: start;
            color: whitesmoke;
            border: transparent;
            width: 12rem;
            padding: 1rem;
            outline: none;
            &:hover{
                cursor: pointer;
            }
        }
    }
}

.iconT {
   display: inline-flex;
   float: right;
   
}
