.containerOrden{
    width: 70%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    margin: 1.8rem;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
}

.containerTitle{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content:space-around;
    align-items: flex-start;
}

.containerValue{
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
}

.containerSubTotal,
.containerSent,
.containerTotal{
    display: flex;
    justify-content: space-around;
    h2{
        width: 180px;
        display: flex;
        justify-content: flex-start;
    }
}

.containerButton{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.buttonFinal{
    width: 12.5rem;
    height: 2.5rem;
    margin-right: 15.5rem;
    border-radius: 20px;
    background-color: rgb(177, 10, 10);
    color: white;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    &:hover{
    cursor: pointer;
    }
}


