.separateList {
  display: flex;
  justify-content: center;
  width: 55%;
  background-color:  #F0F0F0;
  margin-top: 5%;
}

.listProducts {
  padding-bottom: 3%;
button {
  margin: 1rem 1rem 0rem 1rem ;
  outline: none;
  border-color: transparent;
  font-family: 'Montserrat', sans-serif;
	font-size: 0.9rem;
	overflow: hidden;
  background-color: #30475e;
  border-radius: 0.2rem;
  color: #dddddd;
  span {
    color:#dddddd;
    position: relative;
    bottom: 0.5rem;
    left: 0.4rem;
    background-color: #f05454;
    font-size: 1rem;
    font-weight: 200;
  }
}
}

.hrList {
  width: 80%;
  height: 0.1rem;
  background-color: #f05454;
}