$grey:#30475e;//dddddd
$dark: #222831;//222831
$white: #dddddd;//30475e
$red:#f05454;//f05454

.card {
  width: 16rem;
  height: 25rem;
  margin: 0rem 1rem 3rem 2rem;
  border-radius: 00.2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
//   align-items: flex-start;
  background-color: whitesmoke;
  -webkit-box-shadow: 5px 5px 10px 5px rgba(0,0,0,0); 
    box-shadow:  2px 5px 10px 0px #1b1b1b, 5px 5px 10px 5px rgba(0,0,0,0);
    font-family:'Montserrat', sans-serif;
    &:hover{
        transition: 2s;
    }

    p {
      margin: 0;
      font-size: 1.1rem;
      height: 15%;
      padding-left: 10px;
      padding-right: 5px;
      padding-top: 1rem;
      padding-bottom: 1rem;
      background-color: #30475e;
      color: white;
      height: 15%;
    }

    a {
      height: 70%;
    }

    div {
      height: 15%;
    }

}

.link{
  div {
    height: 100%;
  }
    img{
        width: 100%;
        height: 100%;
    }
}
 .buttons {
    width: 100%;
    display: flex;
    height: 100%;
    margin-bottom: -0.5rem;
    background-color:#30475e;
    button{
        width: 50%;
        border: none;
        font-family:'Montserrat', sans-serif;
        outline: none;
    }
} 

.buy {
  font-size: 140%;
  font-weight: 400;
  background-color: $red; 
  color: #dddddd;
}

.addCart{
  background-color:#30475e; 
  font-size: 180%;
  color: #dddddd;
    &:hover{
            transition: 1s;
            position: relative;
            bottom: 0.5rem;
            cursor: pointer;
            color: $red;
        }
} 