$grey:#30475e;//dddddd
$dark: #222831;//222831
$white: #dddddd;//30475e
$red:#f05454;//f05454

.card {
  width: 18rem;
  height: 27rem;
  margin: 0rem 1rem 3rem 2rem;
  border-radius: 00.2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
//   align-items: flex-start;
  background-color: whitesmoke;
  -webkit-box-shadow: 5px 5px 10px 5px rgba(0,0,0,0); 
    box-shadow:  2px 5px 10px 0px #1b1b1b, 5px 5px 10px 5px rgba(0,0,0,0);
    font-family:'Montserrat', sans-serif;
    &:hover{
        position: relative;
        // background-color: $red;
        bottom: 0.5rem;
        transition: 2s;
    }

}

.link{
    position: absolute;
    top: 0;
    img{
        max-width: 18rem;
        max-height: 16rem;
    }
       p{
           
           margin: 1rem;
         text-decoration: none;
         color:$dark;
       //   position: absolute;
       //   bottom: 2.5rem;
         font-weight: 600;
     }
}
.buttons {
    width: 100%;
    display: flex;
    height: 13%;
    
    // border-top: solid 1px black;
    button{
        width: 50%;
        background-color: transparent;
        border: none;
        font-size: 1.2rem;
    }
}
.learn{

    &:hover{
            cursor: pointer;
            color: $red;
        }
}