/* .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;
    width: 100%;
    margin: 2rem 0rem 0rem 2rem;
    height: fit-content;  
    position: relative;

    // background-color: #191921;
    z-index:0;
} */
$grey:#30475e;//dddddd
$dark: #222831;//222831
$white: #dddddd;//30475e
$red:#f05454;//f05454

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 3rem 0rem 2rem 0rem;
    position: relative;
    padding-bottom: 4rem;
    
    ul {
        display: flex;
        position: absolute;
        height: 100%;
        bottom:0;
        width: fit-content;
        background-color: #30475e;
        font-family: 'Montserrat', sans-serif;
        color: white;
        height: 2rem;
        list-style: none;
        align-items: center;
        outline: none;
        li {
            padding-left: 1rem;
            padding-right: 2rem;
            border-color: transparent;
            outline: none;
            a{
                outline: none;
                font-size: large;
                &:hover {
                    cursor: pointer;
                    background:#F21B42 ;
                    box-shadow: 0 0 5px #F21B42;
                }
            }
        }
    }
}

.BackButton {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.footerCat {
    width: 115%;
    margin-left: -10rem;
    height: 8rem;
    background-color: #30475e;
}