$grey:#30475e;//dddddd
$dark: #222831;//222831
$white: #dddddd;//30475e
$red:#f05454;//f05454
$Lblue:#6495ED;
$DBlue:#002D62;

.ContainerAll{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-bottom: 2%;
    margin-top: 2%;
    position: relative;
    padding-bottom: 5%;
    min-height: 100vh;
    ul {
        display: flex;
        position: absolute;
        height: 100%;
        bottom:0;
        width: fit-content;
        background-color: #30475e;
        font-family: 'Montserrat', sans-serif;
        color: white;
        height: 2rem;
        list-style: none;
        align-items: center;
        outline: none;
        li {
            padding-left: 1rem;
            padding-right: 2rem;
            border-color: transparent;
            outline: none;
            a{
                outline: none;
                font-size: large;
                &:hover {
                    cursor: pointer;
                    background:#f05454 ;
                }
            }
        }
    }
}

.CardImage{
    min-height: 12rem;
    max-width: 12rem;
    min-height: 11rem;
    max-height: 11rem;
    padding: 2%;
}

.cardContainer{
    width: 25%;
    height: 22rem;
    max-height: fit-content;
    margin-top: 2%;
    border: solid .1rem darken($color: $dark, $amount: 25%);
    border-radius: 0.2rem;
    margin-right: 4%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color:$grey;
    font-family:'Montserrat', sans-serif;
}

.ContainerImage{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
    min-height: 12rem;

    border-top: solid .2rem $dark;
    border-bottom: solid .2rem $dark;
}

.ContainerTitle{
    width: 100%;
    border-radius: 0.2rem;
    background-color: $dark;
    display: flex;
    min-height: 11vh;
    text-align: center;
}

.Name{
    font-size: 2vh;
    color: $white;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

.EndContainer{
    width: 100%;
    align-items: center;
    display: flex;
    min-height: 9vh;
    justify-content: space-between;
}

.AddToCart{
    font-weight: bold;
    color: $white;
    width: 50%;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-self: center;
    cursor: pointer;
    border: solid .1rem $dark;
    font-size: 4.5vh;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
     &:after {
         content: '';
         position: absolute;
         bottom: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: $red;
         color: $white;
         z-index: -2;
     }
     &:before {
         content: '';
         position: absolute;
         bottom: 0;
         left: 0;
         width: 0%;
         height: 100%;
         background-color: darken($color: $red, $amount: 25%);
         transition: all .3s;
         z-index: -1;
     }
     &:hover {
         color:$white;
         &:before {
             width: 100%;
         }
     }
 }

.Price{
    font-weight: bold;
    color: $dark;
    width: 50%;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-self: center;
    cursor: pointer;
    border: solid .1rem $dark;
    font-size: 4vh;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background-color:$white;
 }

 @media (max-width: 648px) {
    .ContainerAll{
    display: flex;
    height: fit-content;
    flex-direction: column;
    padding:0;
    margin-left: 0;
    margin-right: 0;
    ul{
        height: 2rem;
        width: 100%;
        li{ 
            margin-top: 8%;
            height: 2rem;
            width: 100%;
        }
    }
    }
    .cardContainer{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
    height: fit-content;
    }
}