$grey:#30475e;//dddddd
$dark: #222831;//222831
$white: #dddddd;//30475e
$red:#f05454;//f05454
$background: #fefefe;
$text: #4b507a;
$cyan: #60daaa;
$yellow: #fbca67;
$orange: #ff8a30;
$red: #f45e61;
$purple: #6477b9;
$blue: #0eb7da;
$dash-size: 8px;
$theme-color: mediumseagreen;
$fill-color: beige;
$gray:#30475e;//dddddd
$primary: #11998e;
$secondary: #38ef7d;
$Lblue:#6495ED;
$DBlue:#002D62;

@font-face {
    font-family: "ubuntu";
    font-style: italic;
    font-weight: 300;
    src: local("Lato Light Italic"), local("Lato-LightItalic"),
      url(https://fonts.gstatic.com/s/ubuntucondensed/v8/u-4k0rCzjgs5J7oXnJcM_0kACGMtT-Dfqw.woff2)
        format("woff2");
  }

  .LogoMP {
    width: 55%;
    max-width: 55%;
    min-width: 50%;
    margin: 5%;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .form__group {
    position: relative;
    margin-top: 5%;
    width: 100%;
  }
  .form__field {
    margin-top: 2%;
    margin-left: 15%;
    font-family:'Montserrat', sans-serif;
    width: 60%;
    border: 0;
    border-bottom: 2px solid $Lblue;
    outline: 0;
    font-size: 1.1rem;
    color: $dark;
    padding: 1rem 0.3rem 0 ;
    background: transparent;
    transition: border-color 0.2s; 
  &::-moz-placeholder ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
    &::placeholder {
      color: transparent;
    }
  }
  
  .form__label {
      font-family:'Montserrat', sans-serif;
      margin-left: 15%;
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: $dark;
  }
  
  .form__field:focus {
    ~ .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: $primary;
      font-weight:700;    
    }
    padding-bottom: 6px;  
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, $Lblue, $gray	);
    border-image-slice: 1;
  }


.form__field__Month {
    margin-top: 2%;
    margin-left: 15%;
    font-family:'Montserrat', sans-serif;
    width: 20%;
    border: 0;
    border-bottom: 2px solid $Lblue;
    outline: 0;
    font-size: 1.1rem;
    color: $dark;
    padding: 1rem 0.3rem 0 ;
    background: transparent;
    transition: border-color 0.2s; 
  &::-moz-placeholder ~ .form__labelM {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
    &::placeholder {
      color: transparent;
    }
  }


  .form__field_Month:focus {
    ~ .form__labelM {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: $primary;
      font-weight:700;    
    }
    padding-bottom: 6px;  
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, $Lblue, $gray	);
    border-image-slice: 1;
  }

  .MoYe{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 5%;
    width: 100%;
  }

  .form__labelY {
    display: flex;
    position: relative;
    left: 7rem;
    font-family:'Montserrat', sans-serif;
    top: 0;
    transition: 0.2s;
    font-size: 1rem;
    color: $dark;
}

 .form__labelM{
    position: absolute;
    left: 4rem;
    font-family:'Montserrat', sans-serif;
    top: 0;
    transition: 0.2s;
    font-size: 1rem;
    color: $dark;
 }

 .sortBoxBE{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
  }

.sortTotal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid .2rem $Lblue;
    margin: 1%;
    padding: 3%;
    border-radius: .5rem;
}
 
.HTotal{
    font-size: 4vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background: linear-gradient(to right,$Lblue 50%, #002D62 50%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1.5s linear infinite;
    display: inline-block;
  }

  .PTotal{
    font-size: 3vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background: linear-gradient(to right,$Lblue 50%, #002D62 50%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1.5s linear infinite;
    display: inline-block;
  }


@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
  