$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;
$verdesito: 	#E0FFFF;
$blanquito: #F0F0F0;

.back {
    color: #161616;
    background-color: #43609C;
}

.caja{
  background-color: $blanquito;
  margin-top: 2rem;
  box-shadow: 20px 20px 25px 25px rgba(0,0,0,0.22);
  padding: 3rem;

}

.organizar {
    font-family:'Montserrat', sans-serif;
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.tarjeta {
    background-color:#E8E8E8;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 1px;
  width: 50%;
}

.form__field {
  margin-top: 0.9rem;
  font-family:'Montserrat', sans-serif;
  width: 20rem;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.1rem;
  color: #161616;
  padding: 10px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }
}

.form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }

.form__label {
    font-family:'Montserrat', sans-serif;
    position: absolute;
    top: 1rem;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #161616;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, 	#38ef7d,#11998e	);
  border-image-slice: 1;
}

.organizarbotones {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.boton{
    font-family:'Montserrat', sans-serif;
    width: 8rem;
    height: fit-content;
    padding: 0.5rem;
    margin-top: 2rem;
    color:#161616;
    border-radius: 5px;
    background-color:#1E90FF  ;
    font-weight: 800;
    border-color: transparent;
}
.boton:hover{
    color: white;
    background:#1E90FF ;
    box-shadow: 0 0 5px #1E90FF;
}
