$grey:#30475e;//dddddd
$dark: #222831;//222831
$white: #dddddd;//30475e
$red:#f05454;//f05454
$background: #fefefe;
$text: #4b507a;
$cyan: #60daaa;
$yellow: #fbca67;
$orange: #ff8a30;
$red: #f45e61;
$purple: #6477b9;
$blue: #0eb7da;
$dash-size: 8px;
$theme-color: mediumseagreen;
$fill-color: beige;
$gray:#30475e;//dddddd
$primary: #11998e;
$secondary: #38ef7d;



.back {
    color: #161616;
    background-color:$dark;
}

.caja{
  width: 30%;
  background-color: $white;
  margin-top: 3%;
  box-shadow: 20px 20px 25px 25px rgba(0, 0, 0, 0.815);
  padding: 2%;
  margin-bottom: 3%;
}

.organizar {
    font-family:'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.sortUp{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.LogoMP {
  width: 35%;
  max-width: 35%;
  min-width: 30%;
}

.Details{
  font-family:'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 5%;
  border: solid .2rem $dark;
  border-radius: .2rem;
}

.Price {
  font-family:'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 5%;
  border: solid .2rem $dark;
  border-radius: .2rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
}

.form__group {
    position: relative;

    padding: 15px 0 0;
    margin-top: 10px;
    width: 20rem;
  }
  
  .form__field {
    margin-left: 4rem;
    margin-top: 0.3rem;
    font-family:'Montserrat', sans-serif;
    width: 16rem;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    font-size: 1.1rem;
    color: black;
    padding: 1rem 0.3rem 0 ;
    background: transparent;
    transition: border-color 0.2s;
  
      
  &::-moz-placeholder ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }

    &::placeholder {
      color: transparent;
    }
  }
  
  .form__label {
      margin-left: 4rem;
      font-family:'Montserrat', sans-serif;
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: $gray;
  }
  
  .form__field:focus {
    ~ .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: $primary;
      font-weight:700;    
    }
    padding-bottom: 6px;  
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #002366, #87cefa	);
    border-image-slice: 1;
  }

.organizarbotones {
  display: flex;
  margin-left: 20%;
  justify-content: center;
  align-items: center;
}

.boton{
  font-family: 'Montserrat', sans-serif;
  border: transparent;
	display: flex;
  min-width: 8rem;
  min-height: 3.5rem;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  align-self: center;
  color: $white;
  cursor: pointer;
	font-size: 3.5vh;
  padding: 10%;
  margin-left: 10%;
	transition: all .3s;
	position: relative;
	overflow: hidden;
  border-radius: 0.3rem;
	z-index: 1;
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #002366;
    color: $white;
		border-radius: 0.2rem;
		z-index: -2;
	}
	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		height: 100%;
		background-color: #87cefa;
		transition: all .3s;
		border-radius: 0.2rem;
		z-index: -1;
	}
	&:hover {
		color: #fff;
		&:before {
			width: 100%;
		}
	}
}

.sortBox{
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

.box {
  font-family: 'Montserrat', sans-serif;
  padding-top: 10%;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  transform: translate(-50%, -50%);
  width: 100%;
}

.labelSelect{
  margin-right: 2rem;
}

.options{
  color: $white;
}

.box select {
  font-family: 'Montserrat', sans-serif;
  background-color:#002366;
  color: $white;
  margin-top: 10%;
  margin-left: 50%;
  height: 2rem;
  width: 100%;
  border: none;
  font-size: 2.5vh;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box::before {
  position: absolute;
  margin-top: 10%;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 2.5vh;
  color: $white;
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box:hover::before {
  color: $white;
  background-color: rgba(255, 255, 255, 0.2);
}

.formYearMonth{
  width: fit-content;
  top:0;
}
.formYearMonthIn{
  width: 80%;
}

.options{
  color: $white;
}

.SortEnd{
  position: relative;
  left: 4.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.sortBoxCuot{
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2%;

}
.sortBoxBank{
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
}

.boxCuot {
  font-family: 'Montserrat', sans-serif;
  transform: translate(-50%, -50%);

}

.boxCuot select {
  font-family: 'Montserrat', sans-serif;
  background-color:#002366;
  color: $white;
  margin-top: 2.5rem;
  margin-left: 2rem;

  height: 2rem;
  width: 100%;
  border: none;
  font-size: 2.5vh;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}
.boxCuot::before {
  position: relative;
  margin-left: 2rem;

  left:2rem;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 2.5vh;
  color: $white;
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}
.boxCuot:hover::before {
  color: $white;
  margin-left: 2rem;

  background-color: rgba(255, 255, 255, 0.2);
}

.labelSelectBank{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.labelSelectCuot{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold; 
}



.boxBank {
  font-family: 'Montserrat', sans-serif;
  transform: translate(-50%, -50%);

}

.boxBank select {
  position: relative;
  left:2rem;
  font-family: 'Montserrat', sans-serif;
  background-color:#002366;
  color: $white;
  margin-top: 2.5rem;
  height: 2rem;
  width: 100%;
  border: none;
  font-size: 2.5vh;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}
.boxBank::before {
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 2.5vh;
  color: $white;
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}
.boxBank:hover::before {
  color: $white;
  background-color: rgba(255, 255, 255, 0.2);
}
