
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #000406;
}
.containerModal{
    position: absolute;
    right: 400px;
    top: 200px;
    width: 500px;
    height: 400px;
    background-image: url(../images/fondoLogin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

.Close{
height: 5%;
button{
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#ffb3c1 ;
    border: none;
    border-radius: 50%;
    font-weight: 900;
    color:#751023 ;
    outline: none;
    &:hover{
        cursor: pointer;
    }

}
}

.containerTitle{
    height: 13%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 25px;
    color: white;
    h4{
        margin-right: 25px;
    }
}

.containerLogin{
height: 55%;
display: flex;
flex-direction: column;
justify-content:center;
align-items: flex-end;
input{
    margin: 5px 20px 5px 5px; 
    width: 250px;
    height: 30px;
    border-radius: 30px;
    border: none;
    outline: none;
    padding-left: 5px;
    font-size: 14;
    font-weight: 700;
    &::placeholder{
        font-size: 16px;
        font-weight: 700;
        padding-left: 10px;
    }
}

}

.containerButtons{
height: 28%;
display: flex;
flex-direction: column;
align-items: flex-end;
justify-content: space-around;
button{
    width: 200px;
    margin: 0 20px 8px 0;
    height: 35px;
    border-radius: 20px;
    border: none;
    background-color:#F21B42 ;
    color: white;
    font-size: 12px;
    font-weight: 700;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
        cursor: pointer;
    }    
}
}

