// @import url('../SassVariables/variables.scss');
$blue:#30475e;//dddddd
$bluedark: #222831;//222831
$ligthblue: #dddddd;//30475e
$white:#f05454;//f05454

.container {
    padding: 0rem 13rem 0rem 3rem;
    height: 4rem;
    max-width: 100%;
    background-color: $blue;
    display: inline-flex;
    justify-content: space-evenly;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div{
        display: flex;
        a{
            margin: 0rem 0.5rem;
        }
    }
 }


 .titleNav {
    color: $ligthblue;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}

.titleNav:hover{
    color: $white;
}

.linksNav {
    font-weight: 600;
    display: flex;
    color: $ligthblue;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.linksNav:hover {
    color: $white;
}

.iconCart {
    width: 20px !important;
    height: 20px;
    color: $ligthblue;
}

.iconCart:hover {
    color: $white;
}
